.sidebar {
  display: block;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 8%), 0 10px 16px -4px rgb(0 0 0 / 10%);
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding: 24px;
  }
}