.loader {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #f65052;
  border-color: #f65052 transparent #f65052 transparent;
  animation: theloader 1.2s linear infinite;
}
@keyframes theloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
