.entrance__button {
  min-width: 208px;
  padding: 12px 16px;
  border-radius: 24px;
  background-color: #ff5252;
  transition: all .2s ease-in-out;
  color: #fff;
  text-align: center;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.entrance__button:hover {
  box-shadow: 0 8px 8px -2px rgb(0 0 0 / 10%);
  transform: translate(0,-2px);
}

.entrance__button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.entrance__button:disabled:hover {
  transform: none;
  box-shadow: none;
}
